<a href=http://nossl.eu>nossl.eu</a>: because sometimes we need a website accessible through http (to log into those damned wifi captive portals).
<br>
<br>
Code is available on gitlab: <a href=https://gitlab.com/avernois/nossl.eu>https://gitlab.com/avernois/nossl.eu</a>.<br>
This project is hosted on <a href=https://docs.gitlab.com/ee/user/project/pages/index.html>gitlab pages</a>.<br>